<div><span style="color: #00ccff;"><strong>Thanks for signing up!</strong></span></div>
<div>&nbsp;</div>
<div>Your account has been created, you can fully access your account after you have&nbsp;verified your email by pressing the link below.</div>
<div>&nbsp;</div>
<div>Please click this link to activate your account:</div>
<div><a href="http://rally.serenova.xyz/verify_email/?@">http://rally.serenova.xyz/verify_email/?@</a></div>
<div>&nbsp;</div>
<div>Have a great day!</div>
